@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    background: url(../images/img.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    /* background-color: bisque;
    background-image: url("../images/study.jpeg"); */
    /* background-repeat: repeat-x; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-size: 100%;  */
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;
}

.reg-form {
    
    padding: 20px 0px 0px 30%;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

#form {
    margin: 10px auto;
    height: 700px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(0,0,0,.5);
}

h2 {
    padding: 50px 0px 0px 40%;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 25px;
}

#fname, #lname, #email, #pnum, #address, #orgname {
    height: 30px;
    width: 230px;
    border-radius: 7px;

}

input:focus {outline: none; }

input {
    padding: 10px 10px;
    border-style: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 15px;
    font-weight: 200;
}

input:hover {
    box-shadow: 0 0 15px 0 rgb(0,0,0,.5);
}

#submit-btn {
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 0 15px 0 rgb(0,0,0,.5);
    background-color: rgba(29, 255, 150, 0.747);
    font-size: 15px;
    margin: 5px 0 0 20px;
}

#submit-btn:hover {
    cursor: pointer;
}

/* label {
    padding: 300px 0px 200px 0px;
} */ 